.home-page {
    text-align: center;
    padding: 20px;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjusted for a better layout balance */
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Max width for content alignment */
  }
  
  .server-controls input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .server-output {
    margin-top: 20px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
  }
  

  .server-controls, .app-content {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add subtle shadow for depth */
  }
  
  .data-loaded, .error-message {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    color: #fff; /* Improved readability */
  }
  
  .data-loaded {
    background-color: #4CAF50; /* More vibrant green */
  }
  
  .error-message {
    background-color: #F44336; /* Error color for better visibility */
  }
  
  